<div class="text-center" id="home_title">
  Chat like LINE
</div>
<div>
  <div class="text-center home_button">
      <%= link_to 'Log in / Sign up', login_path, class:"button primary large" %>
  </div>
</div>
