<div class="text-center" id="home-title">
  Chat like LINE
</div>
<div>
  <div class="text-center home-button">
      <%= link_to 'Log in / Sign up', login_path, class:"button primary large" %>
  </div>
</div>
