<div class="text-center home-title" id="home-title">
  Chat like LINE
</div>
<div>
  <div class="text-center" style="padding-bottom:100px">
      <%= link_to 'Log in / Sign up', login_path, class:"button warning large" %>
  </div>
</div>
