<%# for friend_user page, 1vs1 talk %>
<% @each_talk_room.each do |room| %>
  <div class=list_contents>
    <div class="grid-x">
      <div class="cell medium-3">
        <% room.users.each do |user| %>
          <%= gravatar_for(user, size: 50) %>
        <% end %>
        <div>1 vs 1</div>
      </div>
      <div class="cell medium-7">
        <% latest_talks = get_latest_talk(room, sentence: 3) %>
        <% latest_talks.each do |talk| %>
          <div class="text sentence">
            <%= gravatar_for(talk.user, size: 30)%>
            <%= talk.content %>
          </div>
        <% end %>
      </div>
      <div class="cell medium-2 text-right align-self-bottom ">
        <%= link_to "Go to Talk Room", room, class: 'button primary' %>
      </div>
    </div>
  </div>
  <% end %>