<li>
  <div class="list_contents">
    <div class="grid-x">
      <div class="cell medium-9" >
        <%= link_to gravatar_for(friend_request.user), friend_request.user %>
        <%= friend_request.user.name %>
      </div>
      <div class="cell medium-3 text-right align-self-bottom" >
          <%= link_to 'Accept Friend request', friendrequest_user_path(friend_request.user), method: :get,
              class: 'button primary' %>
      </div>
    </div>
  </div>
</li>