/*= require foundation

@imort "foundation_and_overrides";
/* Add imports of custom sass/scss files here */


#logo{
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-title{
  font-size: 7em;
  padding-top: 20px;
}

.nav{
  background-color: orange;
  overflow: hidden;
}

body{
  padding: auto;
  margin: auto;
}

.login-form{
  padding: 0 30%;
  margin: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}
.d1{
  background-color:red;
}
.d2{
  background-color:yellow;
}
.d3{
  background-color: green;
}
.d4{
  background-color:cyan;
}
.d5{
  background-color: blue;
}