
<div contenteditable="true" class="child frc_1st"
      data-placeholder='input' data-placeholderactive='true'
      data-transsymbol='t'></div>
<hr>
<div contenteditable="true" class="child frc_2nd"
      data-placeholder='num' data-placeholderactive='true'
      data-transsymbol='b'></div>
