
<div contenteditable="true" class="symbol fraction_top"
      data-placeholder='input' data-placeholderactive='true'
      data-transsymbol='frc_t'></div>
<hr>
<div contenteditable="true" class="symbol fraction_bottom"
      data-placeholder='num' data-placeholderactive='true'
      data-transsymbol='frc_b'></div>
