<div class='igl_1st' data-transsymbol='symbol'>∫</div>
<div class='symbol_container' data-transsymbol='cnt'>
  <div contenteditable='true' class='child igl_2nd'
        data-placeholder='a' data-placeholderactive='true'
        data-transsymbol='t'></div>
  <div contenteditable='true' class='child igl_3rd'
        data-placeholder='b' data-placeholderactive='true'
        data-transsymbol='b'></div>
</div>