<div contenteditable='true' class='child sgm_1st'
      data-placeholder='n' data-placeholderactive='true'
      data-transsymbol='t'></div>
<div class='sgm_2nd' data-transsymbol='symbol'>Σ</div>
<div contenteditable='true' class='child sgm_3rd'
      data-placeholder='k＝1' data-placeholderactive='true'
      data-transsymbol='b'></div>